
html {
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px;
	overflow:hidden;
	background:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game {
	image-rendering:pixelated;
	background:black;
	width:100vw;
	max-width:100vh;
	margin:auto;
	display:block;
	-ms-interpolation-mode: nearest-neighbor; /* IE */
  	image-rendering: -moz-crisp-edges; /* FF 6.0+ */
  	image-rendering: pixelated;
}
